* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #333;
}
.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.title {
  color: white;
  letter-spacing: 2px;
  margin-bottom: 500px;
  text-align: center;
}
.wrapper {
  position: absolute;
  width: 80vw;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.container {
  width: 28vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 0.5rem;
  background-color: #29292a;
  border-bottom: 10px solid lightskyblue;
}
i{
  color: lightskyblue;
  font-size: 2.5em;
  text-align: center;
}
.num-and-plus {
  display: flex;
  justify-content: center;
}
span.num {
  color: #fff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
span.plus {
  color: #fff;
  font-size: 3em;
}
span.text {
  color: #ccc;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
  }
  .container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
  .title {
    margin-bottom: 350px;
    text-align: center;
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 60vw;
    flex-wrap: wrap;
    gap: 30px;
  }
  .container {
    width: calc(50%-40px);
    height: 30vmin;
    font-size: 10px;
  }
  .title {
    margin-bottom: 550px;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    gap: 15px;
  }
  .container {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
  .title {
    margin-bottom: 600px;
    font-size: 1.5rem;
  }
}